@import url("https://rsms.me/inter/inter.css");

:root {
    --color-white: #FFFFFF;
    --color-rebecca-purple: #663399;
    --color-very-light-pink: #F2F2F2;
    --color-dark-grey-blue: #2F3676;
    --color-dark-blue-grey: #191847;
    --color-pine-green: #071723;
    --color-light-sky-blue: #DDE3E9;
    --color-light-blue-grey: #C5CFD6;
    --color-greyish-brown: #555555;
    --color-error: #F59393;
    --color-border-error: #F33232;
    --color-sucess: #00C57C;
}

html {
  font-family: "Inter", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-rebecca-purple);
    color: var(--color-pine-green);
    padding: 0 20px;
}

.box {
    background-color: var(--color-very-light-pink);
    border-radius: 8px;
    box-shadow: 10px 22px 34px 0 rgba(0, 0, 0, 0.5);
    margin: 20px auto;
    overflow: hidden;
    max-width: 550px;
}

header {
    background: url(img/header.png) center right no-repeat;
    background-size: cover;
    height: 187px;
    padding: 23px 36px;
    margin-bottom: 10px;
    width: 100%;
}

header .title {
    color: var(--color-white);
    font-size: 23px;
    font-weight: 300;
}

header .title span {
    font-weight: bold;
    font-size: 24px;
    line-height: 1.46;
}
  
.space-md {
    margin-bottom: 32px;
}

main {
    background-color: var(--color-very-light-pink);
    padding: 0 32px;
}

fieldset {
    border: none;
}

.questioning-text {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.check {
    display: flex;
    align-items: center;
    gap: 10px;
}

.check:nth-child(3) {
    margin: 10px 0 ;
}

.check .checkbox {
    height: 25px;
    width: 25px;
    background-color: var(--color-light-sky-blue);
}

.counter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.amount {
    background: var(--color-light-sky-blue);
    border: 1px solid var(--color-dark-grey-blue);
    border-radius: 7px;
    font-size: 20px;
    font-weight: bold;
    margin: 0 8px;
    width: 60px;
    text-align: center;
}

.counter button {
    padding: 5px 25px;
}

form textarea {
    background: var(--color-light-sky-blue);
    border: 1px solid var(--color-dark-grey-blue);
    border-radius: 8px;
    color: var(--color-pine-green);
    height: 140px;
    padding: 16px;
    resize: none;
    width: 100%;
    font-size: 14px;
}

.button {
    appearance: none;
    background-color: var(--color-dark-grey-blue);
    border: 2px solid var(--color-dark-grey-blue);
    border-radius: 8px;
    color: var(--color-white);
    padding: 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 8px 32px;
    cursor: pointer;
}

.button:focus,
.button:hover {
    border: 2px solid var(--color-dark-grey-blue);
    background: var(--color-dark-blue-grey);
}

.error {
    border: 1px solid var(--color-border-error);
    background: var(--color-error);    
}

.button-desabled,
.button-desabled:focus,
.button-desabled:hover {
    border: 2px solid var(--color-greyish-brown);
    color: var(--color-greyish-brown);
    background: var(--color-light-blue-grey);
    cursor: no-drop;
}

footer {
    background-color: var(--color-light-sky-blue);
    padding: 25px 32px;
    display: flex;
    justify-content: space-between;
}

.sucess {
    color: var(--color-sucess);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}